/*
 * SPDX-FileCopyrightText: 2024 Nicco Kunzmann <niccokunzmann@rambler.ru>
 *
 * SPDX-License-Identifier: LicenseRef-mine
 */

img {
  border-radius: 1em;
  max-width: 300px;
  align-self: center;
}

/*  figure style  */
figure img {
  max-width: 300px;
  align-self: center;
}

@media only screen and (min-width: 600px) {
  figure {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }
  figcaption {
    padding: 2em;
    max-width: 300px;
  }
}


/* small screen  */
@media only screen and (max-width: 601px) {
  figure {
    text-align: center;
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  img {
    max-width: 100%;
  }
}


/* carousel */

.owl-carousel .item {
  margin-right: 2em;
}
