
<section>
    <div class="home-intro-1">
        <img class="misson-statement-image" src="/img/marosa-leafs.jpg" />
        <div class="misson-statement-box">
        </div>
        <img class="misson-statement-image-overlay" src="/img/marosa-leafs.png" />
    </div>
    <div class="home-intro-2 intro-section">
        <div class="misson-statement-box">
            <h1>
                Shamanic Holding
            </h1>
            <h2>
                Supporting you to come back into connection with your body mind and soul.
            </h2>
        </div>
    </div>
    <div class="intro-section">
        <div class="what-we-do ">
            <h1>Connect to …</h1>
            <p>

                {{ range .Pages }}
                    {{ if eq .Params.whatWeDoHere true }}
                    <a class="page-link" href="{{ .Permalink }}">{{ default .Title .Params.linkTitle | humanize | title }}</a>
                    {{ end }}
                {{ end }}
                <!--
                <a class="page-link" href="/earth-medicine/">EARTH MEDICINE</a>
                <a class="page-link" href="/kambo/">Kambô</a>
                <a class="page-link" href="/sound-medicine/">Sound HEaling</a>
                <a class="page-link" href="/fear-medicine/">Fear Unrevelling</a>
                <a class="page-link" href="/doula/">Doula-ing</a>
                <a class="page-link" href="/occupational-therapy/">Occupational Therapy</a> -->
            </p>
        </div>
    </div>
    <div id="content" class="intro-section-content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    {{- .Content }}

                    <figure><img src="/img/intro-yemaya.jpg" alt="I love seeing people supported and empowered on their healing journey. You can find me in my yurt in Nature, playing with sound, tending the hearth and connecting to the land and the elements."><figcaption>
                        <h4>
                            Hi my name is Yemaya.
                        </h4>
                        <p>
                            A bit about me.
                            I work and apprentice within the Shipibo lineage of healing. I am also studying Psychedelics, Mind and Culture at the University of Exeter. With my plant dieta’s and background in Nursing and Occupational Therapy, I support my clients to heal and nourish their body mind and soul in the way of shamanic practice and a deep listening to the seen and unseen. The cosmology I have faith in, is nature. Of nature guiding us to return and remember our true nature.
                            I believe that the body holds all the stories and we can untangle and integrate these stories, and the patterns and habits which form from them, healing and preventing sickness in the mind and body.                        </p>
                        <p>
                        </p>
                      </figcaption>
                  </figure>
                        <p>
                            I have worked in healthcare since my early 20’s and have deep respect for allopathic medicine and believe that in this age we can integrate all the knowledge and healing modalities into our lives as we choose. It is never either or. However, allopathic medicine doesn’t get to the core of why something is happening to our minds and bodies, and our soul or psyche needs to be heard too if we are to live a truly vital life (and death), knowing and accepting our full selves at the deepest level. With my understanding of Anatomy, Physiology and disease processes and Shamanic practice, I bridge this gap, for people who are coming to alternative medicine from allopathic medicine, both in language and in energy. I understand that it can be a huge jump and many times goes against our upbringing and what we have been taught.
                            I have 13 years of experience working shamanically with plant and fungi medicines and work with people of all ages, genders, abilities, cultural and religious beliefs.
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>