<form method="post" action="https://listmonk.hosted.quelltext.eu/subscription/form" class="listmonk-form">
  <div>
    <h3>Subscribe</h3>
    <input type="hidden" name="nonce" />

    <p><input type="email" name="email" required placeholder="E-mail" /></p>
    <p><input type="text" name="name" placeholder="Name (optional)" /></p>

    <p>
      <input id="3e00b" type="checkbox" name="l" checked value="3e00b55b-90aa-4353-8907-aeb9ee3c7b07" />
      <label for="3e00b">Cosmic Earth Medicine News</label>
      <br />
      <span>You can subscribe to different news and offerings!</span>
    </p>

    <input type="submit" value="Subscribe " />
  </div>
</form>